body {
    background-color: #f9f9f9;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%
}

video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

@font-face {
    font-family: butler;
    src: url(https://cam6688.github.io/college-portfolio/Butler_Black.otf);
}

h1 {
	color: #404040;
	text-align: center;
	font-family: butler;
	font-size: 72px;
}

h2 {
 	color: #404040;
	font-family: bromello;
	font-size: 50px;
  text-align: center;
}

p {
    font-family: Moonflowerbold;
    font-size: 30px;
    border: 10px powderblue;
    padding: 20px;
    color: #404040
}

li {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #999999;
}

li a {
    display: block;
    color: white;
    font-family: Moonflowerbold;
    font-size: 25px;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #ff5050;
}
