body {
    background-color: #f9f9f9;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

@font-face {
    font-family: butler;
    src: url(https://cam6688.github.io/college-portfolio/Butler_Black.otf);
}

@font-face {
  font-family: aileron;
  src: url(https://cam6688.github.io/college-portfolio/Aileron-Regular.ttf);
}

h1 {
	color: #404040;
	text-align: center;
	font-family: butler;
	font-size: 72px;
}

h2 {
 	color: #404040;
	font-family: bromello;
	font-size: 50px;
  text-align: center;
}

p {
    font-family: aileron;
    font-size: 30px;
    padding: 20px;
    color: #404040;
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

li {
    float: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: #999999;
    font-family: aileron;
}

li a {
    display: block;
    color: #f9f9f9;
    font-family: aileron;
    font-size: 25px;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #404040;
}

#DIV_1 {
    background-position: 50% 50%;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    background: rgba(0, 0, 0, 0)  no-repeat scroll 50% 50% / cover padding-box border-box;
    background-image: url(me-photo.jpg);
    zoom:1.1;
    background-size:cover;
}

#text {
  background: #999999;
  opacity: 80;
}
